= form_for @duel do |f|
  = render 'shared/errors', entity: @duel
  .form-group
    %label Title
    = f.text_field :title, class: 'form-control', placeholder: 'Enter the title for the duel'
  .form-group
    %label 
    = f.text_field :accepter_id, class: 'form-control', placeholder: 'Enter the id of accepter'
  .form-group
    %label Deadline
    #datetimepicker.input-group.date{ "data-date-format" => "YYYY-MM-DD" }
      = f.text_field :deadline, class: 'form-control'
      %span.input-group-addon
        %span.glyphicon.glyphicon-time
  = f.submit "Save", class: "btn btn-success"

:javascript
  $(function () {
      $('#datetimepicker').datetimepicker();
  });